.input {
  width: 70%;
  height: 50px;
  border-radius: 40px;
  border: none;
  background: url("../../assets//search-logo.svg") no-repeat;
  background-color: var(--light-grey);
  background-position: left top;
  background-size: 20px 20px;
  background-position: 15px;
  padding: 0 0 0 50px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
}

.input::placeholder {
  font-size: 1.1rem;
}

@media (max-width: 780px) {
  .input {
    position: absolute;
    bottom: 5px;
    width: 98%;
    margin: 0 0 10px 1%;
  }
}
