.form {
  position: relative;
  width: 100%;
}

.input {
  width: 95%;
  height: 50px;
  border-radius: 40px;
  border: none;
  background: url("../../assets//search-logo.svg") no-repeat;
  background-color: var(--light-grey);
  background-position: left top;
  background-size: 20px 20px;
  background-position: 15px;
  padding: 0 20px 0 50px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.input::placeholder {
  font-size: var(--header-size-2);
  color: var(--main-dark-grey);
  opacity: 1;
}

.input:focus {
  outline: none;
  border-radius: 40px;
  background-color: #d0d1d2;
}

@media (max-width: 780px) {
  .form {
    position: absolute;
    bottom: 0;
    width: 98%;
    margin: 0 0 10px 1%;
  }

  .input {
    position: relative;
    top: 40px;
  }
}
