.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: var(--z-index-1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -900px;
  background-color: var(--main-blue);
  background-image: url("../../assets/background\ login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  transition: top 0.3s ease-in-out;
}

main.open {
  top: 0;
}

.fromContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  border-radius: 5px;
  font-size: var(--font-size-1);
  background-color: #ffffff53;
  width: 80%;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.from {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 100%;
}

.input {
  border: none;
  border-bottom: 2px solid var(--main-dark-grey);
  font-size: var(--font-size-1);
  margin-bottom: 10px;
  height: 40px;
  padding-left: 5px;
  color: var(--main-dark-grey);
}
.passContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.passImg {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.inputPass {
  border: none;
  border-bottom: 2px solid var(--main-dark-grey);
  font-size: var(--font-size-1);
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  padding-left: 5px;
  color: var(--main-dark-grey);
}

.inputPass:focus {
  outline: none;
  border-bottom: 3px solid var(--main-blue);
}

.input:focus {
  outline: none;
  border-bottom: 3px solid var(--main-blue);
}

.inputPass::placeholder {
  color: var(--main-dark-grey);
  opacity: 1;
}

.input::placeholder {
  color: var(--main-dark-grey);
  opacity: 1;
}

.fromBtn {
  border: none;
  border-radius: 5px;
  background-color: var(--main-blue);
  height: 30px;
  cursor: pointer;
  color: var(--main-white);
  font-weight: bold;
}

.loginModeBtn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.changeModeContainer {
  display: flex;
  min-width: 300px;
  margin-top: 20px;
}

@media (max-width: 780px) {
  .fromContainer {
    width: 90%;
    max-width: 90%;
    height: 400px;
    padding: 5%;
    font-size: 0.9rem;
  }
}
