.navbar {
  background-color: var(--main-white);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 95%;
  z-index: var(--z-index-2);
}

.linksContainer {
  position: absolute;
  bottom: 10px;
}

.coverContainer {
  display: none;
}

.closeBtn {
  display: none;
}

.linksContainer a {
  text-decoration: none;
  margin-right: 25px;
  color: var(--main-black);
  font-weight: 700;
}

.linksContainer a:hover {
  text-decoration: underline;
}

.logo {
  width: 120px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
}

.btnsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.usuarioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  color: black;
  border-radius: 50px;
  width: fit-content;
}

.usuarioBtn:hover {
  background-color: var(--light-grey);
}

.usuarioBtnSpan {
  font-size: 0.65rem;
  font-weight: 700;
  max-width: 80px;
  padding-left: 5px;
}

.imgLogo {
  width: 20px;
}

.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: var(--main-blue);
  font-size: var(--description-size);
  color: var(--main-white);
  width: fit-content;
  min-width: 15px;
  height: 15px;
  border-radius: 10px;
  padding: 3px;
}

.carritoLink {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 8px;
  border-radius: 50%;
}

.carritoLink:hover {
  background-color: var(--light-grey);
}

.favLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 8px;
  border-radius: 50%;
}

.favLink:hover {
  background-color: var(--light-grey);
}

.hr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--main-grey);
  border: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  .navbar {
    width: 95%;
  }

  .usuarioBtnSpan {
    display: none;
  }
}

@media (max-width: 780px) {
  .navbar {
    width: 100%;
    height: 150px;
  }

  .closeBtn {
    display: inline;
    margin-bottom: 30px;
    text-decoration: none;
    margin-right: 0;
    color: var(--main-dark-grey);
    font-weight: 700;
    margin-left: 100px;
  }

  .linksContainer {
    position: fixed;
    top: 0;
    left: -500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-white);
    height: 100vh;
    width: 400px;
    z-index: var(--z-index-1);
    transition: left 0.3s ease-in;
  }

  .open {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-white);
    height: 100vh;
    width: 400px;
    z-index: var(--z-index-1);
    transition: left 0.3s ease-in;
  }

  .link {
    margin-bottom: 30px;
    text-decoration: none;
    margin-right: 0;
    color: var(--main-black);
    font-weight: 700;
    margin-left: 100px;
  }

  .coverContainer {
    display: inline;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--z-index-2);
    background-color: rgba(0, 0, 0, 0.161);
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 2%;
  }

  .imgLogo {
    width: 17px;
  }

  .btnsContainer {
    position: absolute;
    right: 3%;
    top: 15%;
  }

  .hr {
    width: 98%;
  }

  .usuarioBtn {
    margin-right: 10px;
  }

  .favLink {
    margin-right: 10px;
  }

  .carritoLink {
    margin-right: 10px;
  }
}
