.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #4444446e;
  border-radius: 5px;
  z-index: var(--z-index-1);
}

.presentacionBox {
  display: flex;
  position: relative;
  width: 80%;
  max-width: 900px;
  max-height: 500px;
  height: fit-content;
  background-color: var(--main-white);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cerrarBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.cerrarBtn:hover {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--main-grey);
  padding: 5px;
  cursor: pointer;
}

.imgPresentacion {
  margin: 10px 10px;
  width: 60%;
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.title {
  position: relative;
  font-size: var(--header-size-1);
  padding: 20px 10px 10px 10px;
}

.presentationContainer {
  overflow-y: auto;
}

.presentationContainer::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.presentationContainer::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}

.presentationContainer::-webkit-scrollbar-thumb {
  background-color: rgb(174, 174, 177); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #ffffff; /* creates padding around scroll thumb */
}

.descripcion {
  font-size: var(--description-size);
  font-weight: bold;
  color: var(--main-dark-grey);
  padding: 5px 20px 20px 10px;
  text-align: left;
}

@media (max-width: 780px) {
  .presentacionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 85vh;
    margin-bottom: 60px;
    padding-bottom: 20px;
    width: 85%;
  }

  .imgPresentacion {
    width: 80%;
    max-width: 270px;
  }

  .title {
    font-size: var(--header-size-2);
  }

  .descripcion {
    font-size: var(--description-size-small);
    padding: 5px;
  }

  .cerrarBtn {
    width: 25px;
    height: 25px;
  }

  .cerrarBtn:hover {
    width: 25px;
    height: 25px;
  }
}
