@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  color: var(--main-dark-grey);
  opacity: 1;
}

:root {
  --main-white: #ffffff;
  --main-black: #000000;
  --light-grey: #f1f1f1;
  --main-grey: #a9a5a5;
  --main-dark-grey: #757575;
  --main-blue: #0f69b8;
  --main-light-blue: #f0f8ff;
  --main-yellow: #ffcc00;
  --main-font: "Open Sans", sans-serif;
  --header-size-1: 1.3rem;
  --header-size-2: 1rem;
  --description-size: 0.8rem;
  --description-size-small: 0.75rem;
  --z-index-1: 101;
  --z-index-2: 100;
  --z-index-page: 90;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media (max-width: 1000px) {
  .main-content {
    width: 95%;
  }
}

@media (max-width: 780px) {
  .main-content {
    width: 100%;
  }
}
